<!--The content below is only a placeholder and can be replaced.-->


<!--<router-outlet></router-outlet>-->

  <div class="main-container">
    <header class="header">
        CHART1
        
    </header>

    <!--<app-register>Register</app-register>-->
    <!--<app-login>Login</app-login>-->
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <clr-vertical-nav>
          <app-nav></app-nav>
           
        </clr-vertical-nav>
    </div>
</div>

